/Backend/nbproject/private/
/FrontendDesktop/nbproject/private/
/Frontend_Web/nbproject/private/
/Backend/build/
/Frontend_Web/build/
/Backend/dist/
/FrontendDesktop/build/
/FrontendDesktop/dist/
/Frontend_Web/dist/
/front_web3/build/
/front_web3/nbproject/private/