/Backend/nbproject/private/
/FrontendDesktop/nbproject/private/
/Frontend_Web/nbproject/private/
/Backend/build/
/Frontend_Web/build/
/Backend/dist/
/FrontendDesktop/build/
/FrontendDesktop/dist/
/lab1_moviles/dist/